# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log*:Zone.Identifier
*:mshield
